
.form-control{
    width: 90%;
    
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

fieldset{

    border: solid 2px blue;
    padding: 20px;
   
}

.wrap{
    width: 90%;
    max-width: 500px;
    margin: auto;
}

legend {
    text-align: center;
    font-size: 24px;
}